# Lascio solo i file dei parametri
/input/*
!/input/params.txt
!/input/AngularParams.txt

# Creo la cartella output
/output/*
!/output/output.md

.DS_Store
*/__pycache__/
.vscode/
TODO.MD
modules/__pycache__/
.idx/